/* 各區背景圖 */
#HOME{
    background-image: url("../images/pic1.jpg")
}
#ABOUT{
    background-image: url("../images/CV.jpg")
}
#NEWS{
    background-image: url("../images/p2.jpg")
}
/* #SERVICE{
    background-image: url("../images/p3.jpg")
}
#CONTACT{
    background-image: url("../images/p4.jpg")
} */

/* 將視窗的寬高設定為滿版(100%) */
html,
body{
    width: 100%;
    height: 100%;
}

/* 各區共同背景相關設定 */
section{
    height: 100%;
    /* 不重複 */
    background-repeat: no-repeat;
    /* 等比例縮放圖片大小 */
    background-size: cover;
    /* 圖片從正中央往外擴 */
    background-position: center center;
    padding-top: 100px;
}


/* 各區的文字範圍 */
.txt-bg{
    background-color: rgba(255,255,255,.6);
    border-radius: 50px;
    text-align: justify;
    padding: 50px;
    width: 800px;
    margin: auto;
}
.txt-bg h2{
    text-align: center;
}

.txt-bg h2 i{
    color: brown
}

        /* 資訊區 */
.info{
            /* 取消浮動方法二 */
            /* 使用前提是因為.box有上一層 */
            /* 多於未用完的部分隱藏 */
            overflow:hidden;
            /* background-color: #E4DDD2; */
            padding: 0px 100px;
            /* padding-left: 75px;
            padding-right: 75px;
            padding-top: 20px;
            padding-bottom: 20px; */
        }
.info .box{
            /* border: 1px solid red; */
            /* 浮動練習 */
            /* float:left; */
            /* 水平區塊排列 */
            display: inline-block
        }
.info .box img{
            border: 3px solid #fff;
            border-radius: 2%; 
            margin: 20px;
        } 
.info .box h4{
            text-align: center;
            color: #ccc;
            margin-top: 5px;
            margin-bottom: 50px;
        }